# Django

SECRET_KEY=

DEBUG=True


# Database

DB_NAME=

DB_USER=

DB_PASSWORD=

DB_HOST=

DB_PORT=


# Allowed Hosts & Security

ALLOWED_HOSTS=

CORS_ALLOWED_ORIGINS=

CSRF_TRUSTED_ORIGINS=

ALLOWED_WEBSOCKET_ORIGINS=


# Frontend

FRONTEND_BASE_URL=


# Google OAuth

GOOGLE_CLIENT_ID=


# AWS S3

AWS_ACCESS_KEY_ID=

AWS_SECRET_ACCESS_KEY=

AWS_STORAGE_BUCKET_NAME=

AWS_S3_REGION_NAME=


# SendGrip

SENDGRID_API_KEY=


# HTTPS Redirect

SECURE_SSL_REDIRECT=


# API

VITE_API_URL=

VITE_API_TIMEOUT=30000


# WebSocket

VITE_WS_URL


# Google OAuth

VITE_GOOGLE_CLIENT_ID=


# Debugging

VITE_ENABLE_DEBUG_LOGGING=true


SESSION_COOKIE_SECURE=True

CSRF_COOKIE_SECURE=True
