--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_competitionrole; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_competitionrole (
    id bigint NOT NULL,
    role character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    last_modified_at timestamp with time zone NOT NULL,
    deleted boolean NOT NULL,
    competition_id bigint NOT NULL,
    created_by_id bigint,
    last_modified_by_id bigint,
    user_id bigint NOT NULL
);


ALTER TABLE public.accounts_competitionrole OWNER TO postgres;

--
-- Name: accounts_competitionrole_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_competitionrole ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_competitionrole_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_country; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_country (
    country_code character varying(2) NOT NULL,
    name_en character varying(100) NOT NULL,
    name_local character varying(100) NOT NULL
);


ALTER TABLE public.accounts_country OWNER TO postgres;

--
-- Name: accounts_judgelink; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_judgelink (
    id bigint NOT NULL,
    token uuid NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    is_used boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    competition_id bigint NOT NULL,
    created_by_id integer,
    user_id integer NOT NULL
);


ALTER TABLE public.accounts_judgelink OWNER TO postgres;

--
-- Name: accounts_judgelink_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_judgelink ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_judgelink_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_useraccount; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_useraccount (
    id bigint NOT NULL,
    full_name character varying(100) NOT NULL,
    is_admin boolean NOT NULL,
    google_id character varying(32),
    date_of_birth date,
    gender character varying(10),
    height_cm integer,
    wingspan_cm integer,
    profile_picture character varying(100),
    created_at timestamp with time zone NOT NULL,
    last_modified_at timestamp with time zone NOT NULL,
    deleted boolean NOT NULL,
    last_modified_by_id bigint,
    nationality_id character varying(2),
    user_id integer NOT NULL
);


ALTER TABLE public.accounts_useraccount OWNER TO postgres;

--
-- Name: accounts_useraccount_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_useraccount ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_useraccount_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: athletes_climber; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.athletes_climber (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    last_modified_at timestamp with time zone NOT NULL,
    deleted boolean NOT NULL,
    created_by_id integer,
    last_modified_by_id integer,
    user_account_id bigint
);


ALTER TABLE public.athletes_climber OWNER TO postgres;

--
-- Name: athletes_climber_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.athletes_climber ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.athletes_climber_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: athletes_competitionregistration; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.athletes_competitionregistration (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    last_modified_at timestamp with time zone NOT NULL,
    deleted boolean NOT NULL,
    climber_id bigint NOT NULL,
    competition_id bigint NOT NULL,
    competition_category_id bigint NOT NULL,
    created_by_id integer,
    last_modified_by_id integer
);


ALTER TABLE public.athletes_competitionregistration OWNER TO postgres;

--
-- Name: athletes_competitionregistration_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.athletes_competitionregistration ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.athletes_competitionregistration_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO postgres;

--
-- Name: competitions_boulder; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.competitions_boulder (
    id bigint NOT NULL,
    section_style character varying(50) NOT NULL,
    boulder_number integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    last_modified_at timestamp with time zone NOT NULL,
    deleted boolean NOT NULL,
    created_by_id integer,
    last_modified_by_id integer,
    round_id bigint NOT NULL
);


ALTER TABLE public.competitions_boulder OWNER TO postgres;

--
-- Name: competitions_boulder_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.competitions_boulder ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.competitions_boulder_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: competitions_categorygroup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.competitions_categorygroup (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    is_default boolean NOT NULL
);


ALTER TABLE public.competitions_categorygroup OWNER TO postgres;

--
-- Name: competitions_categorygroup_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.competitions_categorygroup ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.competitions_categorygroup_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: competitions_competition; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.competitions_competition (
    id bigint NOT NULL,
    title character varying(100) NOT NULL,
    description text NOT NULL,
    start_date timestamp with time zone NOT NULL,
    end_date timestamp with time zone NOT NULL,
    location text NOT NULL,
    image character varying(100),
    visible boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    last_modified_at timestamp with time zone NOT NULL,
    deleted boolean NOT NULL,
    created_by_id integer,
    last_modified_by_id integer
);


ALTER TABLE public.competitions_competition OWNER TO postgres;

--
-- Name: competitions_competition_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.competitions_competition ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.competitions_competition_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: competitions_competitioncategory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.competitions_competitioncategory (
    id bigint NOT NULL,
    gender character varying(10) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    last_modified_at timestamp with time zone NOT NULL,
    deleted boolean NOT NULL,
    category_group_id bigint NOT NULL,
    competition_id bigint NOT NULL,
    created_by_id integer,
    last_modified_by_id integer
);


ALTER TABLE public.competitions_competitioncategory OWNER TO postgres;

--
-- Name: competitions_competitioncategory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.competitions_competitioncategory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.competitions_competitioncategory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: competitions_competitionround; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.competitions_competitionround (
    id bigint NOT NULL,
    round_order integer NOT NULL,
    climbers_advance integer NOT NULL,
    boulder_count integer NOT NULL,
    completed boolean NOT NULL,
    start_date timestamp with time zone,
    end_date timestamp with time zone,
    is_default boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    last_modified_at timestamp with time zone NOT NULL,
    deleted boolean NOT NULL,
    competition_category_id bigint NOT NULL,
    created_by_id integer,
    last_modified_by_id integer,
    round_group_id bigint NOT NULL
);


ALTER TABLE public.competitions_competitionround OWNER TO postgres;

--
-- Name: competitions_judgeboulderassignment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.competitions_judgeboulderassignment (
    id bigint NOT NULL,
    boulder_id bigint NOT NULL,
    judge_id integer NOT NULL
);


ALTER TABLE public.competitions_judgeboulderassignment OWNER TO postgres;

--
-- Name: competitions_judgeboulderassignment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.competitions_judgeboulderassignment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.competitions_judgeboulderassignment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: competitions_round_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.competitions_competitionround ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.competitions_round_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: competitions_roundgroup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.competitions_roundgroup (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    is_default boolean NOT NULL
);


ALTER TABLE public.competitions_roundgroup OWNER TO postgres;

--
-- Name: competitions_roundgroup_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.competitions_roundgroup ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.competitions_roundgroup_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: scoring_climb; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scoring_climb (
    id bigint NOT NULL,
    attempts_zone integer NOT NULL,
    zone_reached boolean NOT NULL,
    attempts_top integer NOT NULL,
    top_reached boolean NOT NULL,
    completed boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    last_modified_at timestamp with time zone NOT NULL,
    deleted boolean NOT NULL,
    boulder_id bigint NOT NULL,
    climber_id bigint NOT NULL,
    created_by_id integer,
    judge_id integer,
    last_modified_by_id integer
);


ALTER TABLE public.scoring_climb OWNER TO postgres;

--
-- Name: scoring_climb_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.scoring_climb ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.scoring_climb_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: scoring_climberroundscore; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scoring_climberroundscore (
    id bigint NOT NULL,
    total_score numeric(5,2) NOT NULL,
    tops integer NOT NULL,
    zones integer NOT NULL,
    climber_id bigint NOT NULL,
    round_id bigint NOT NULL,
    attempts_tops integer NOT NULL,
    attempts_zones integer NOT NULL
);


ALTER TABLE public.scoring_climberroundscore OWNER TO postgres;

--
-- Name: scoring_climberroundscore_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.scoring_climberroundscore ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.scoring_climberroundscore_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: scoring_roundresult; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scoring_roundresult (
    id bigint NOT NULL,
    rank integer,
    start_order integer,
    start_time timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    last_modified_at timestamp with time zone NOT NULL,
    deleted boolean NOT NULL,
    climber_id bigint NOT NULL,
    created_by_id integer,
    last_modified_by_id integer,
    round_id bigint NOT NULL
);


ALTER TABLE public.scoring_roundresult OWNER TO postgres;

--
-- Name: scoring_roundresult_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.scoring_roundresult ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.scoring_roundresult_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: accounts_competitionrole; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts_competitionrole (id, role, created_at, last_modified_at, deleted, competition_id, created_by_id, last_modified_by_id, user_id) FROM stdin;
2	judge	2025-05-25 10:39:28+00	2025-05-25 10:39:28+00	f	1	1	1	2
15	admin	2025-06-15 22:07:29.981242+00	2025-06-15 22:07:29.981245+00	f	15	2	2	2
\.


--
-- Data for Name: accounts_country; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts_country (country_code, name_en, name_local) FROM stdin;
IS	Iceland	├ìsland
DK	Denmark	Danmark
FI	Finland	Suomi
NO	Norway	Norge
SE	Sweden	Sverige
\.


--
-- Data for Name: accounts_judgelink; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts_judgelink (id, token, expires_at, is_used, created_at, competition_id, created_by_id, user_id) FROM stdin;
4	cf908290-3cc6-4ba4-b04e-478fc5450776	2025-06-30 23:30:00+00	f	2025-06-18 23:38:52+00	1	2	2
\.


--
-- Data for Name: accounts_useraccount; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: athletes_climber; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: athletes_competitionregistration; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.athletes_competitionregistration (id, created_at, last_modified_at, deleted, climber_id, competition_id, competition_category_id, created_by_id, last_modified_by_id) FROM stdin;
6	2025-05-27 14:03:19+00	2025-05-27 14:03:19+00	f	2	1	1	1	1
7	2025-06-16 14:10:57.581986+00	2025-06-16 14:10:57.581994+00	f	4	1	4	2	2
8	2025-06-16 14:11:42.224525+00	2025-06-16 14:11:42.224533+00	f	10	1	4	2	2
9	2025-06-21 13:02:29.269365+00	2025-06-21 13:02:29.269372+00	f	17	1	1	2	2
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: competitions_boulder; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: competitions_categorygroup; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.competitions_categorygroup (id, name, is_default) FROM stdin;
1	Opinn Flokkur	f
2	U19	f
3	Open	f
\.


--
-- Data for Name: competitions_competition; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: competitions_competitioncategory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: competitions_competitionround; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: competitions_judgeboulderassignment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.competitions_judgeboulderassignment (id, boulder_id, judge_id) FROM stdin;
\.


--
-- Data for Name: competitions_roundgroup; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.competitions_roundgroup (id, name, is_default) FROM stdin;
1	Qualification	f
2	Semi-Finals	f
3	Finals	f
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: scoring_climb; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: scoring_climberroundscore; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.scoring_climberroundscore (id, total_score, tops, zones, climber_id, round_id, attempts_tops, attempts_zones) FROM stdin;
169	25.00	1	1	6	3	1	1
162	24.60	1	1	2	2	5	3
163	24.80	1	1	3	2	3	2
164	24.90	1	1	5	2	2	1
165	9.80	0	1	6	2	0	3
166	9.90	0	1	7	2	0	2
167	9.80	0	1	8	2	0	3
168	9.90	0	1	9	2	0	2
\.


--
-- Data for Name: scoring_roundresult; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: accounts_competitionrole_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_competitionrole_id_seq', 15, true);


--
-- Name: accounts_judgelink_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_judgelink_id_seq', 4, true);


--
-- Name: accounts_useraccount_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_useraccount_id_seq', 22, true);


--
-- Name: athletes_climber_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.athletes_climber_id_seq', 20, true);


--
-- Name: athletes_competitionregistration_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.athletes_competitionregistration_id_seq', 9, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 100, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 21, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: competitions_boulder_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.competitions_boulder_id_seq', 81, true);


--
-- Name: competitions_categorygroup_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.competitions_categorygroup_id_seq', 4, true);


--
-- Name: competitions_competition_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.competitions_competition_id_seq', 15, true);


--
-- Name: competitions_competitioncategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.competitions_competitioncategory_id_seq', 9, true);


--
-- Name: competitions_judgeboulderassignment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.competitions_judgeboulderassignment_id_seq', 1, false);


--
-- Name: competitions_round_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.competitions_round_id_seq', 23, true);


--
-- Name: competitions_roundgroup_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.competitions_roundgroup_id_seq', 3, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 617, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 24, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 30, true);


--
-- Name: scoring_climb_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.scoring_climb_id_seq', 220, true);


--
-- Name: scoring_climberroundscore_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.scoring_climberroundscore_id_seq', 169, true);


--
-- Name: scoring_roundresult_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.scoring_roundresult_id_seq', 124, true);


--
-- Name: accounts_competitionrole accounts_competitionrole_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_competitionrole
    ADD CONSTRAINT accounts_competitionrole_pkey PRIMARY KEY (id);


--
-- Name: accounts_competitionrole accounts_competitionrole_user_id_competition_id_r_057aa55d_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_competitionrole
    ADD CONSTRAINT accounts_competitionrole_user_id_competition_id_r_057aa55d_uniq UNIQUE (user_id, competition_id, role);


--
-- Name: accounts_country accounts_country_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_country
    ADD CONSTRAINT accounts_country_pkey PRIMARY KEY (country_code);


--
-- Name: accounts_judgelink accounts_judgelink_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_judgelink
    ADD CONSTRAINT accounts_judgelink_pkey PRIMARY KEY (id);


--
-- Name: accounts_judgelink accounts_judgelink_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_judgelink
    ADD CONSTRAINT accounts_judgelink_token_key UNIQUE (token);


--
-- Name: accounts_useraccount accounts_useraccount_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_useraccount
    ADD CONSTRAINT accounts_useraccount_pkey PRIMARY KEY (id);


--
-- Name: accounts_useraccount accounts_useraccount_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_useraccount
    ADD CONSTRAINT accounts_useraccount_user_id_key UNIQUE (user_id);


--
-- Name: athletes_climber athletes_climber_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.athletes_climber
    ADD CONSTRAINT athletes_climber_pkey PRIMARY KEY (id);


--
-- Name: athletes_climber athletes_climber_user_account_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.athletes_climber
    ADD CONSTRAINT athletes_climber_user_account_id_key UNIQUE (user_account_id);


--
-- Name: athletes_competitionregistration athletes_competitionregi_competition_id_climber_i_30a37dc9_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.athletes_competitionregistration
    ADD CONSTRAINT athletes_competitionregi_competition_id_climber_i_30a37dc9_uniq UNIQUE (competition_id, climber_id, competition_category_id);


--
-- Name: athletes_competitionregistration athletes_competitionregistration_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.athletes_competitionregistration
    ADD CONSTRAINT athletes_competitionregistration_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: competitions_boulder competitions_boulder_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_boulder
    ADD CONSTRAINT competitions_boulder_pkey PRIMARY KEY (id);


--
-- Name: competitions_boulder competitions_boulder_round_id_boulder_number_c8c00965_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_boulder
    ADD CONSTRAINT competitions_boulder_round_id_boulder_number_c8c00965_uniq UNIQUE (round_id, boulder_number);


--
-- Name: competitions_categorygroup competitions_categorygroup_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_categorygroup
    ADD CONSTRAINT competitions_categorygroup_pkey PRIMARY KEY (id);


--
-- Name: competitions_competition competitions_competition_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_competition
    ADD CONSTRAINT competitions_competition_pkey PRIMARY KEY (id);


--
-- Name: competitions_competitioncategory competitions_competitioncategory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_competitioncategory
    ADD CONSTRAINT competitions_competitioncategory_pkey PRIMARY KEY (id);


--
-- Name: competitions_judgeboulderassignment competitions_judgeboulde_judge_id_boulder_id_999d31a3_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_judgeboulderassignment
    ADD CONSTRAINT competitions_judgeboulde_judge_id_boulder_id_999d31a3_uniq UNIQUE (judge_id, boulder_id);


--
-- Name: competitions_judgeboulderassignment competitions_judgeboulderassignment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_judgeboulderassignment
    ADD CONSTRAINT competitions_judgeboulderassignment_pkey PRIMARY KEY (id);


--
-- Name: competitions_competitionround competitions_round_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_competitionround
    ADD CONSTRAINT competitions_round_pkey PRIMARY KEY (id);


--
-- Name: competitions_roundgroup competitions_roundgroup_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_roundgroup
    ADD CONSTRAINT competitions_roundgroup_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: scoring_climb scoring_climb_climber_id_boulder_id_07c5a6ad_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scoring_climb
    ADD CONSTRAINT scoring_climb_climber_id_boulder_id_07c5a6ad_uniq UNIQUE (climber_id, boulder_id);


--
-- Name: scoring_climb scoring_climb_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scoring_climb
    ADD CONSTRAINT scoring_climb_pkey PRIMARY KEY (id);


--
-- Name: scoring_climberroundscore scoring_climberroundscore_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scoring_climberroundscore
    ADD CONSTRAINT scoring_climberroundscore_pkey PRIMARY KEY (id);


--
-- Name: scoring_climberroundscore scoring_climberroundscore_round_id_climber_id_5a4c2bc9_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scoring_climberroundscore
    ADD CONSTRAINT scoring_climberroundscore_round_id_climber_id_5a4c2bc9_uniq UNIQUE (round_id, climber_id);


--
-- Name: scoring_roundresult scoring_roundresult_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scoring_roundresult
    ADD CONSTRAINT scoring_roundresult_pkey PRIMARY KEY (id);


--
-- Name: scoring_roundresult scoring_roundresult_round_id_climber_id_b86271ac_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scoring_roundresult
    ADD CONSTRAINT scoring_roundresult_round_id_climber_id_b86271ac_uniq UNIQUE (round_id, climber_id);


--
-- Name: accounts_competitionrole_competition_id_99e42251; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_competitionrole_competition_id_99e42251 ON public.accounts_competitionrole USING btree (competition_id);


--
-- Name: accounts_competitionrole_created_by_id_2941294f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_competitionrole_created_by_id_2941294f ON public.accounts_competitionrole USING btree (created_by_id);


--
-- Name: accounts_competitionrole_last_modified_by_id_8897ad41; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_competitionrole_last_modified_by_id_8897ad41 ON public.accounts_competitionrole USING btree (last_modified_by_id);


--
-- Name: accounts_competitionrole_user_id_b5996b3d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_competitionrole_user_id_b5996b3d ON public.accounts_competitionrole USING btree (user_id);


--
-- Name: accounts_country_country_code_46d783a2_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_country_country_code_46d783a2_like ON public.accounts_country USING btree (country_code varchar_pattern_ops);


--
-- Name: accounts_judgelink_competition_id_61b2b1e6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_judgelink_competition_id_61b2b1e6 ON public.accounts_judgelink USING btree (competition_id);


--
-- Name: accounts_judgelink_created_by_id_0c262575; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_judgelink_created_by_id_0c262575 ON public.accounts_judgelink USING btree (created_by_id);


--
-- Name: accounts_judgelink_user_id_6efd9bee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_judgelink_user_id_6efd9bee ON public.accounts_judgelink USING btree (user_id);


--
-- Name: accounts_useraccount_last_modified_by_id_2f309186; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_useraccount_last_modified_by_id_2f309186 ON public.accounts_useraccount USING btree (last_modified_by_id);


--
-- Name: accounts_useraccount_nationality_id_f3b350b9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_useraccount_nationality_id_f3b350b9 ON public.accounts_useraccount USING btree (nationality_id);


--
-- Name: accounts_useraccount_nationality_id_f3b350b9_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_useraccount_nationality_id_f3b350b9_like ON public.accounts_useraccount USING btree (nationality_id varchar_pattern_ops);


--
-- Name: athletes_climber_created_by_id_e4a0c3c3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX athletes_climber_created_by_id_e4a0c3c3 ON public.athletes_climber USING btree (created_by_id);


--
-- Name: athletes_climber_last_modified_by_id_fbd91a8e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX athletes_climber_last_modified_by_id_fbd91a8e ON public.athletes_climber USING btree (last_modified_by_id);


--
-- Name: athletes_competitionregist_competition_category_id_e4cb89bf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX athletes_competitionregist_competition_category_id_e4cb89bf ON public.athletes_competitionregistration USING btree (competition_category_id);


--
-- Name: athletes_competitionregistration_climber_id_e3a0df03; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX athletes_competitionregistration_climber_id_e3a0df03 ON public.athletes_competitionregistration USING btree (climber_id);


--
-- Name: athletes_competitionregistration_competition_id_ddfde2b4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX athletes_competitionregistration_competition_id_ddfde2b4 ON public.athletes_competitionregistration USING btree (competition_id);


--
-- Name: athletes_competitionregistration_created_by_id_98b1284c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX athletes_competitionregistration_created_by_id_98b1284c ON public.athletes_competitionregistration USING btree (created_by_id);


--
-- Name: athletes_competitionregistration_last_modified_by_id_1113b573; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX athletes_competitionregistration_last_modified_by_id_1113b573 ON public.athletes_competitionregistration USING btree (last_modified_by_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: competitions_boulder_created_by_id_cc637ae0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX competitions_boulder_created_by_id_cc637ae0 ON public.competitions_boulder USING btree (created_by_id);


--
-- Name: competitions_boulder_last_modified_by_id_e67c9b29; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX competitions_boulder_last_modified_by_id_e67c9b29 ON public.competitions_boulder USING btree (last_modified_by_id);


--
-- Name: competitions_boulder_round_id_d3614194; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX competitions_boulder_round_id_d3614194 ON public.competitions_boulder USING btree (round_id);


--
-- Name: competitions_competition_created_by_id_1b438bb8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX competitions_competition_created_by_id_1b438bb8 ON public.competitions_competition USING btree (created_by_id);


--
-- Name: competitions_competition_last_modified_by_id_a9a02bfd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX competitions_competition_last_modified_by_id_a9a02bfd ON public.competitions_competition USING btree (last_modified_by_id);


--
-- Name: competitions_competitioncategory_category_group_id_5706581d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX competitions_competitioncategory_category_group_id_5706581d ON public.competitions_competitioncategory USING btree (category_group_id);


--
-- Name: competitions_competitioncategory_competition_id_e6970195; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX competitions_competitioncategory_competition_id_e6970195 ON public.competitions_competitioncategory USING btree (competition_id);


--
-- Name: competitions_competitioncategory_created_by_id_13f03a74; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX competitions_competitioncategory_created_by_id_13f03a74 ON public.competitions_competitioncategory USING btree (created_by_id);


--
-- Name: competitions_competitioncategory_last_modified_by_id_3cf6b243; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX competitions_competitioncategory_last_modified_by_id_3cf6b243 ON public.competitions_competitioncategory USING btree (last_modified_by_id);


--
-- Name: competitions_judgeboulderassignment_boulder_id_02f77cd5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX competitions_judgeboulderassignment_boulder_id_02f77cd5 ON public.competitions_judgeboulderassignment USING btree (boulder_id);


--
-- Name: competitions_judgeboulderassignment_judge_id_31bfa17a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX competitions_judgeboulderassignment_judge_id_31bfa17a ON public.competitions_judgeboulderassignment USING btree (judge_id);


--
-- Name: competitions_round_competition_category_id_59e6e9cd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX competitions_round_competition_category_id_59e6e9cd ON public.competitions_competitionround USING btree (competition_category_id);


--
-- Name: competitions_round_created_by_id_3885dc4d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX competitions_round_created_by_id_3885dc4d ON public.competitions_competitionround USING btree (created_by_id);


--
-- Name: competitions_round_last_modified_by_id_2687d773; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX competitions_round_last_modified_by_id_2687d773 ON public.competitions_competitionround USING btree (last_modified_by_id);


--
-- Name: competitions_round_round_group_id_3bb72f13; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX competitions_round_round_group_id_3bb72f13 ON public.competitions_competitionround USING btree (round_group_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: scoring_climb_boulder_id_ddb7630e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX scoring_climb_boulder_id_ddb7630e ON public.scoring_climb USING btree (boulder_id);


--
-- Name: scoring_climb_climber_id_5f7c5c3a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX scoring_climb_climber_id_5f7c5c3a ON public.scoring_climb USING btree (climber_id);


--
-- Name: scoring_climb_created_by_id_d4bce8c2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX scoring_climb_created_by_id_d4bce8c2 ON public.scoring_climb USING btree (created_by_id);


--
-- Name: scoring_climb_judge_id_891ab2c4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX scoring_climb_judge_id_891ab2c4 ON public.scoring_climb USING btree (judge_id);


--
-- Name: scoring_climb_last_modified_by_id_475feb31; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX scoring_climb_last_modified_by_id_475feb31 ON public.scoring_climb USING btree (last_modified_by_id);


--
-- Name: scoring_climberroundscore_climber_id_27b9c893; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX scoring_climberroundscore_climber_id_27b9c893 ON public.scoring_climberroundscore USING btree (climber_id);


--
-- Name: scoring_climberroundscore_round_id_a15addc7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX scoring_climberroundscore_round_id_a15addc7 ON public.scoring_climberroundscore USING btree (round_id);


--
-- Name: scoring_roundresult_climber_id_c299527b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX scoring_roundresult_climber_id_c299527b ON public.scoring_roundresult USING btree (climber_id);


--
-- Name: scoring_roundresult_created_by_id_7a6a418b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX scoring_roundresult_created_by_id_7a6a418b ON public.scoring_roundresult USING btree (created_by_id);


--
-- Name: scoring_roundresult_last_modified_by_id_50ddce91; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX scoring_roundresult_last_modified_by_id_50ddce91 ON public.scoring_roundresult USING btree (last_modified_by_id);


--
-- Name: scoring_roundresult_round_id_5b4c4e73; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX scoring_roundresult_round_id_5b4c4e73 ON public.scoring_roundresult USING btree (round_id);


--
-- Name: accounts_competitionrole accounts_competition_competition_id_99e42251_fk_competiti; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_competitionrole
    ADD CONSTRAINT accounts_competition_competition_id_99e42251_fk_competiti FOREIGN KEY (competition_id) REFERENCES public.competitions_competition(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_competitionrole accounts_competition_created_by_id_2941294f_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_competitionrole
    ADD CONSTRAINT accounts_competition_created_by_id_2941294f_fk_accounts_ FOREIGN KEY (created_by_id) REFERENCES public.accounts_useraccount(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_competitionrole accounts_competition_last_modified_by_id_8897ad41_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_competitionrole
    ADD CONSTRAINT accounts_competition_last_modified_by_id_8897ad41_fk_accounts_ FOREIGN KEY (last_modified_by_id) REFERENCES public.accounts_useraccount(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_competitionrole accounts_competition_user_id_b5996b3d_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_competitionrole
    ADD CONSTRAINT accounts_competition_user_id_b5996b3d_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_useraccount(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_judgelink accounts_judgelink_competition_id_61b2b1e6_fk_competiti; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_judgelink
    ADD CONSTRAINT accounts_judgelink_competition_id_61b2b1e6_fk_competiti FOREIGN KEY (competition_id) REFERENCES public.competitions_competition(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_judgelink accounts_judgelink_created_by_id_0c262575_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_judgelink
    ADD CONSTRAINT accounts_judgelink_created_by_id_0c262575_fk_auth_user_id FOREIGN KEY (created_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_judgelink accounts_judgelink_user_id_6efd9bee_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_judgelink
    ADD CONSTRAINT accounts_judgelink_user_id_6efd9bee_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_useraccount accounts_useraccount_last_modified_by_id_2f309186_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_useraccount
    ADD CONSTRAINT accounts_useraccount_last_modified_by_id_2f309186_fk_accounts_ FOREIGN KEY (last_modified_by_id) REFERENCES public.accounts_useraccount(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_useraccount accounts_useraccount_nationality_id_f3b350b9_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_useraccount
    ADD CONSTRAINT accounts_useraccount_nationality_id_f3b350b9_fk_accounts_ FOREIGN KEY (nationality_id) REFERENCES public.accounts_country(country_code) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_useraccount accounts_useraccount_user_id_71d2afe8_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_useraccount
    ADD CONSTRAINT accounts_useraccount_user_id_71d2afe8_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: athletes_climber athletes_climber_created_by_id_e4a0c3c3_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.athletes_climber
    ADD CONSTRAINT athletes_climber_created_by_id_e4a0c3c3_fk_auth_user_id FOREIGN KEY (created_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: athletes_climber athletes_climber_last_modified_by_id_fbd91a8e_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.athletes_climber
    ADD CONSTRAINT athletes_climber_last_modified_by_id_fbd91a8e_fk_auth_user_id FOREIGN KEY (last_modified_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: athletes_climber athletes_climber_user_account_id_cb2f6c49_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.athletes_climber
    ADD CONSTRAINT athletes_climber_user_account_id_cb2f6c49_fk_accounts_ FOREIGN KEY (user_account_id) REFERENCES public.accounts_useraccount(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: athletes_competitionregistration athletes_competition_climber_id_e3a0df03_fk_athletes_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.athletes_competitionregistration
    ADD CONSTRAINT athletes_competition_climber_id_e3a0df03_fk_athletes_ FOREIGN KEY (climber_id) REFERENCES public.athletes_climber(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: athletes_competitionregistration athletes_competition_competition_category_e4cb89bf_fk_competiti; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.athletes_competitionregistration
    ADD CONSTRAINT athletes_competition_competition_category_e4cb89bf_fk_competiti FOREIGN KEY (competition_category_id) REFERENCES public.competitions_competitioncategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: athletes_competitionregistration athletes_competition_competition_id_ddfde2b4_fk_competiti; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.athletes_competitionregistration
    ADD CONSTRAINT athletes_competition_competition_id_ddfde2b4_fk_competiti FOREIGN KEY (competition_id) REFERENCES public.competitions_competition(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: athletes_competitionregistration athletes_competition_created_by_id_98b1284c_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.athletes_competitionregistration
    ADD CONSTRAINT athletes_competition_created_by_id_98b1284c_fk_auth_user FOREIGN KEY (created_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: athletes_competitionregistration athletes_competition_last_modified_by_id_1113b573_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.athletes_competitionregistration
    ADD CONSTRAINT athletes_competition_last_modified_by_id_1113b573_fk_auth_user FOREIGN KEY (last_modified_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: competitions_boulder competitions_boulder_created_by_id_cc637ae0_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_boulder
    ADD CONSTRAINT competitions_boulder_created_by_id_cc637ae0_fk_auth_user_id FOREIGN KEY (created_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: competitions_boulder competitions_boulder_last_modified_by_id_e67c9b29_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_boulder
    ADD CONSTRAINT competitions_boulder_last_modified_by_id_e67c9b29_fk_auth_user FOREIGN KEY (last_modified_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: competitions_boulder competitions_boulder_round_id_d3614194_fk_competiti; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_boulder
    ADD CONSTRAINT competitions_boulder_round_id_d3614194_fk_competiti FOREIGN KEY (round_id) REFERENCES public.competitions_competitionround(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: competitions_competitioncategory competitions_competi_category_group_id_5706581d_fk_competiti; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_competitioncategory
    ADD CONSTRAINT competitions_competi_category_group_id_5706581d_fk_competiti FOREIGN KEY (category_group_id) REFERENCES public.competitions_categorygroup(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: competitions_competitioncategory competitions_competi_competition_id_e6970195_fk_competiti; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_competitioncategory
    ADD CONSTRAINT competitions_competi_competition_id_e6970195_fk_competiti FOREIGN KEY (competition_id) REFERENCES public.competitions_competition(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: competitions_competitioncategory competitions_competi_created_by_id_13f03a74_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_competitioncategory
    ADD CONSTRAINT competitions_competi_created_by_id_13f03a74_fk_auth_user FOREIGN KEY (created_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: competitions_competitioncategory competitions_competi_last_modified_by_id_3cf6b243_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_competitioncategory
    ADD CONSTRAINT competitions_competi_last_modified_by_id_3cf6b243_fk_auth_user FOREIGN KEY (last_modified_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: competitions_competition competitions_competi_last_modified_by_id_a9a02bfd_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_competition
    ADD CONSTRAINT competitions_competi_last_modified_by_id_a9a02bfd_fk_auth_user FOREIGN KEY (last_modified_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: competitions_competition competitions_competition_created_by_id_1b438bb8_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_competition
    ADD CONSTRAINT competitions_competition_created_by_id_1b438bb8_fk_auth_user_id FOREIGN KEY (created_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: competitions_judgeboulderassignment competitions_judgebo_boulder_id_02f77cd5_fk_competiti; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_judgeboulderassignment
    ADD CONSTRAINT competitions_judgebo_boulder_id_02f77cd5_fk_competiti FOREIGN KEY (boulder_id) REFERENCES public.competitions_boulder(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: competitions_judgeboulderassignment competitions_judgebo_judge_id_31bfa17a_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_judgeboulderassignment
    ADD CONSTRAINT competitions_judgebo_judge_id_31bfa17a_fk_auth_user FOREIGN KEY (judge_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: competitions_competitionround competitions_round_competition_category_59e6e9cd_fk_competiti; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_competitionround
    ADD CONSTRAINT competitions_round_competition_category_59e6e9cd_fk_competiti FOREIGN KEY (competition_category_id) REFERENCES public.competitions_competitioncategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: competitions_competitionround competitions_round_created_by_id_3885dc4d_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_competitionround
    ADD CONSTRAINT competitions_round_created_by_id_3885dc4d_fk_auth_user_id FOREIGN KEY (created_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: competitions_competitionround competitions_round_last_modified_by_id_2687d773_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_competitionround
    ADD CONSTRAINT competitions_round_last_modified_by_id_2687d773_fk_auth_user_id FOREIGN KEY (last_modified_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: competitions_competitionround competitions_round_round_group_id_3bb72f13_fk_competiti; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competitions_competitionround
    ADD CONSTRAINT competitions_round_round_group_id_3bb72f13_fk_competiti FOREIGN KEY (round_group_id) REFERENCES public.competitions_roundgroup(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: scoring_climb scoring_climb_boulder_id_ddb7630e_fk_competitions_boulder_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scoring_climb
    ADD CONSTRAINT scoring_climb_boulder_id_ddb7630e_fk_competitions_boulder_id FOREIGN KEY (boulder_id) REFERENCES public.competitions_boulder(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: scoring_climb scoring_climb_climber_id_5f7c5c3a_fk_athletes_climber_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scoring_climb
    ADD CONSTRAINT scoring_climb_climber_id_5f7c5c3a_fk_athletes_climber_id FOREIGN KEY (climber_id) REFERENCES public.athletes_climber(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: scoring_climb scoring_climb_created_by_id_d4bce8c2_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scoring_climb
    ADD CONSTRAINT scoring_climb_created_by_id_d4bce8c2_fk_auth_user_id FOREIGN KEY (created_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: scoring_climb scoring_climb_judge_id_891ab2c4_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scoring_climb
    ADD CONSTRAINT scoring_climb_judge_id_891ab2c4_fk_auth_user_id FOREIGN KEY (judge_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: scoring_climb scoring_climb_last_modified_by_id_475feb31_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scoring_climb
    ADD CONSTRAINT scoring_climb_last_modified_by_id_475feb31_fk_auth_user_id FOREIGN KEY (last_modified_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: scoring_climberroundscore scoring_climberround_climber_id_27b9c893_fk_athletes_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scoring_climberroundscore
    ADD CONSTRAINT scoring_climberround_climber_id_27b9c893_fk_athletes_ FOREIGN KEY (climber_id) REFERENCES public.athletes_climber(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: scoring_climberroundscore scoring_climberround_round_id_a15addc7_fk_competiti; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scoring_climberroundscore
    ADD CONSTRAINT scoring_climberround_round_id_a15addc7_fk_competiti FOREIGN KEY (round_id) REFERENCES public.competitions_competitionround(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: scoring_roundresult scoring_roundresult_climber_id_c299527b_fk_athletes_climber_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scoring_roundresult
    ADD CONSTRAINT scoring_roundresult_climber_id_c299527b_fk_athletes_climber_id FOREIGN KEY (climber_id) REFERENCES public.athletes_climber(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: scoring_roundresult scoring_roundresult_created_by_id_7a6a418b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scoring_roundresult
    ADD CONSTRAINT scoring_roundresult_created_by_id_7a6a418b_fk_auth_user_id FOREIGN KEY (created_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: scoring_roundresult scoring_roundresult_last_modified_by_id_50ddce91_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scoring_roundresult
    ADD CONSTRAINT scoring_roundresult_last_modified_by_id_50ddce91_fk_auth_user FOREIGN KEY (last_modified_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: scoring_roundresult scoring_roundresult_round_id_5b4c4e73_fk_competiti; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scoring_roundresult
    ADD CONSTRAINT scoring_roundresult_round_id_5b4c4e73_fk_competiti FOREIGN KEY (round_id) REFERENCES public.competitions_competitionround(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

